
            {% assign ecom_root_url = routes.root_url %}
            {% if ecom_root_url != '/'%}
                {% assign ecom_root_url = routes.root_url | append: '/' %}
            {% endif %}
        <link rel="stylesheet" id="ecom-vendors-slider_css" href="https://cdn.ecomposer.app/vendors/css/ecom-swiper-bundle.min.css" /><link rel="stylesheet" id="ecom-vendors-css_ecomposer_base" href="https://cdn.ecomposer.app/vendors/css/ecom-base.css?v=1.0.1" />{%capture section_id %}ecom-preview-template-page{% endcapture%}{% if section and section_id == section.id and headless != true %}
{{ content_for_header }}
{% render 'ecom_header', ECOM_THEME: true %}{% endif %}<link href="https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet"/>
{{'ecom-preview-template-page.css'  | asset_url | stylesheet_tag }}
<script type="text/javascript" id="ecom-page-info">
                    window.EComposer = window.EComposer || {};
                    window.EComposer.TEMPLATE_ID="preview-template-page";
                    window.EComposer.PAGE = {"template_id":"preview-template-page","title":"Untitled","type":"page","slug":"ecom-preview-template-page","plan_id":1};
            </script>
<div class="ecom-builder" id="ecom-preview-template-page"><div class="ecom-sections"><section class="ecom-row ecom-core ecom-section ecom-section__stretched ecom-c75w48gr" data-id="ecom-c75w48gr" style="z-index: 0;"><div class="core__row--columns core__row--full"><div class="ecom-column ecom-core core__column--first core__column--last ecom-88nz2s1g"><div class="core__column--wrapper"><div class="core__blocks" index="0"><div class="core__blocks--body"><div class="ecom-block ecom-core core__block elmspace ecom-c8q8znnl" data-core-is="group"><div class="ecom-elements ecom-base-element ecom-elements-slider"><div class="ecom-core ecom-group core__block ecom-a2xkdjw8"><div class="core__group--wrapper" data-r="" style=""><div class="ecom-slider--container"><div class="ecom-element ecom-slider slider__body ecom-swiper-container" data-option-swiper="{&quot;loop&quot;:false,&quot;breakpoints&quot;:{&quot;0&quot;:{},&quot;768&quot;:{},&quot;1025&quot;:{}},&quot;autoplay&quot;:{&quot;enabled&quot;:false,&quot;delay&quot;:6000,&quot;pauseOnMouseEnter&quot;:false,&quot;disableOnInteraction&quot;:false},&quot;speed&quot;:500,&quot;effect&quot;:&quot;slide&quot;,&quot;slideActiveClass&quot;:&quot;swiper-slide-active ecom-box-active&quot;,&quot;centeredSlides&quot;:false,&quot;watchOverflow&quot;:true,&quot;autoHeight&quot;:true,&quot;cubeEffect&quot;:{&quot;slideShadows&quot;:true},&quot;fadeEffect&quot;:{&quot;crossFade&quot;:true},&quot;pagination&quot;:{&quot;el&quot;:&quot;.ecom-swiper-pagination&quot;,&quot;type&quot;:&quot;bullets&quot;,&quot;clickable&quot;:true},&quot;navigation&quot;:{&quot;nextEl&quot;:&quot;.ecom-swiper-button-next&quot;,&quot;prevEl&quot;:&quot;.ecom-swiper-button-prev&quot;},&quot;slidesPerView&quot;:1}"><div class="ecom-swiper-wrapper"><div class="ecom-swiper-slide"><div class="ecom-content-item"><div class="ecom-slider__image--wrapper" data-id="ecom-d1et0z90"><picture class="ecom-image-background"><img src="https://via.placeholder.com/1920x900" name="Main-Banner" ext="jpg" thumbnail="https://via.placeholder.com/1920x900"></picture></div><div class="ecom-content-item__container ecom-transition-undefined"><div class="core__blocks" index="0"><div class="core__blocks--body"><div class="ecom-block ecom-core core__block elmspace ecom-3nnmkdbf" data-core-is="row"><div class="ecom-row ecom-core core__block ecom-h9cn5ad9" data-id="ecom-h9cn5ad9" style="z-index: 0;"><div class="core__row--columns"><div class="ecom-column ecom-core core__column--first core__column--last ecom-a9t6apt9"><div class="core__column--wrapper"><div class="core__blocks" index="0"><div class="core__blocks--body"><div class="ecom-block ecom-core core__block elmspace ecom-g7sleo6x" data-core-is="block"><div class="ecom__element ecom-element element__text" deep="2"><div class="text-content ecom-html has-drop-cap-view-default">{{ 'sections.ecom-preview-template-page.MesmerizingSoundSystembr_g7sleo6x_html' | t }}</div></div><!----></div><div class="ecom-block ecom-core core__block elmspace ecom-897qgzlk" data-core-is="block"><div class="ecom__element element__heading ecom-element ecom-html" deep="2"><h2 class="ecom__heading">{{ 'sections.ecom-preview-template-page.DNLc_897qgzlk_html' | t }}</h2></div><!----></div><div class="ecom-block ecom-core core__block elmspace ecom-9s79u05e" data-core-is="block"><div class="ecom__element ecom-element element__text" deep="2"><div class="text-content ecom-html has-drop-cap-view-default">{{ 'sections.ecom-preview-template-page.nsfhwWaficq_9s79u05e_html' | t }}</div></div><!----></div><div class="ecom-block ecom-core core__block elmspace ecom-796ln07o" data-core-is="block"><div class="ecom__element ecom-element-button ecom-button-default" deep="2"><a href="#" class="ecom__element--button ecom-flex ecom-fl_center ecom-al_center"><span class="ecom__element--button-icon-text">{{ 'sections.ecom-preview-template-page.ShowMeMore_796ln07o_html' | t }}</span><span class="ecom-button-icon ecom__element--button-icon"></span></a></div><!----></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div><!----><div class="ecom-swiper-navigation-position"><button class="ecom-swiper-button ecom-swiper-button-prev" style="--ecom-position:absolute; --ecom-position__tablet: unset; --ecom-position__mobile: unset;"><svg xmlns="http: //www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></button><button class="ecom-swiper-button ecom-swiper-button-next" style="--ecom-position:absolute; --ecom-position__tablet: unset; --ecom-position__mobile: unset;"><svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></button></div><div class="ecom-swiper-pagination-position ecom-swiper-pagination"></div></div></div></div></div></div></div></div></div></div></div><div class="ecom-section__overlay"><!----><!----><div class="ecom-overlay"></div></div></section><!---This page has been built by EComposer Builder (www.ecomposer.io)--->
</div></div><script  type="text/javascript" id="ecom-vendors-slider_js" src="https://cdn.ecomposer.app/vendors/js/ecom-swiper-bundle.min.js" ></script>
<script src="{{'ecom-preview-template-page.js'  | asset_url }}" defer="defer"></script>

{% schema %}
{
    "name": "Untitled",
    "locales": {
        "en": {
            "MesmerizingSoundSystembr_g7sleo6x_html": "Mesmerizing Sound System<br>",
            "DNLc_897qgzlk_html": "<div>Every Day<\/div><div>A New Level<\/div><div>Of <font color=\"#ff6f1f\">Sound<\/font><\/div>",
            "nsfhwWaficq_9s79u05e_html": "<div>The new standard for hybrid working. World-class audio<\/div><div>engineering for industry-leading call quality.<\/div>",
            "ShowMeMore_796ln07o_html": "Show Me More"
        }
    },
    "settings": [
        {
            "type": "header",
            "content": "The section was generated by [Ecomposer](https:\/\/ecomposer.io).",
            "info": "\n                    EComposer is a Visual Page Builder app on Shopify AppStore.\n                    It provides 100+ pre-built templates in library,\n                    so you can build unlimited pages that you can imagine with it.\n                    "
        },
        {
            "type": "header",
            "content": "[EDIT WITH EComposer APP \u2192](https:\/\/ecomposer.app\/shop\/builder?page=page&id=preview-template-page&utm_source=theme-customize)",
            "info": "(*You must install the app to start editing this section [Learn more](https:\/\/help.ecomposer.io\/docs\/getting-started\/installation\/))"
        }
    ]
}
{% endschema %}